
/* Articles */


.article {

	background: rgba($white, 0.8);
	color: $gray;
	margin: 30px 0 0 0;
	padding: 30px;

	header {

		margin: 0 0 15px 0;

		h1 {

			background: $yellow;
			padding: 5px;
			color: $gray;

		}

		ul {

			font-size: 2em;
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {

				display: inline-block;

				&:last-child {

					padding: 0;

				}

				&:after {

					content: " | ";
					padding: 0 5px;

				}

				&:last-child:after {

					content: "";

				}

			}

		}

	}

	aside {

		background: $gray;
		width: 30%;
		float: right;
		margin: 0 0 0 15px;
		padding: 15px;
		color: $white;
		text-align: center;

		h1, h2, h3 {

			color: $yellow;

		}

		img {

			display: block;
			margin: 0 auto;
			border-radius: 50%;
			width: 50%;

		}

	}

}