/* Navbar */

.nav {

  @media (max-width: $mobileLarge) {

    display: inline-block;

  }

}

.navbar-default {

	background: none;
	border: none;

  .navbar-nav {

    li {

      a {

        color: $white;
        transition: $fastTransition;

        &:hover, &:focus {

          color: $gray;

        }

        @media (max-width: $mobileLarge) {

          padding: 10px 9px;

        }

      }

      .btn-default {

        background: $yellow;
        color: $gray;
        border: 1px solid $yellow;
        transition: $fastTransition;
        padding: 9px 30px;
        margin: 5px 15px 5px 5px;

        &:hover, &:focus {

          background: $gray;
          color: $yellow;
          border: 1px solid $gray;
          box-shadow: $yellowShadow;

        }

        @media (max-width: $mobileLarge) {

          margin: 0;
          padding: 6px 12px;

        }

      }

      @media (max-width: $mobileLarge) {

        display: inline-block;

      }

    }

    @media (max-width: $mobileLarge) {

      margin: 7.5px 0;

    }

  }

  .navbar-text {

    color: $white;
    transition: $fastTransition;
  
  }

  @media (max-width: $mobileLarge) {

    background: rgba($black, 0.65);

  }

}
