/* Typography */

h1, h2, h3, h4 {

	font-family: $titleFontFamily;
	font-weight: $titleFontWeight;

}

h1 {

	span {

		color: $yellow;

	}

}

h2 {

	span {

		color: $yellow;

	}

}

h3 {

	span {

		color: $yellow;

	}

}

h4 {

	span {

		color: $yellow;

	}

}

body {

	font-family: $bodyFontFamily;

}