
@import 'bootstrap';
@import 'font.awesome';
@import 'font.awesome.animation';

@import 'variables';
@import 'typography';
@import 'search';
@import 'navbar';
@import 'buttons';
@import 'article';

body {

	background: $darkPurple;
	background: $purpleGradient;
	padding-top: 80px;
	overflow-x: hidden;
	text-align: justify;
	color: $white;
	min-height: 100vh;

	@media (max-width: $mobileLarge) {

		padding-top: 70px;

	}

}

a {

	color: $white;
	text-decoration: none;
	transition: $fastTransition;
	cursor: pointer;

	&:hover, &:focus {

		color: $gray;
		text-decoration: none;

	}

}

form {

	text-align: center;

	.btn {

		padding: 6px 30px;

	}

}

input, textarea {

	background: none;
	border: 1px solid $white;
	padding: 5px;
	width: 100%;

	&:focus {

		border: 1px solid $yellow;
		box-shadow: $yellowShadow;

	}

}

label {

	display: block;
	margin: 15px 0;
	font-weight: normal;
	text-align: center;

}

section {

	background: rgba($black, 0.65);
	margin: 30px 0 0;
	padding: 30px 0;

	.container {

		div {

			h3 {

				margin: 0 0 10px 0;
				text-align: center;

			}

		}

	}

}

header {

	text-align: center;

}

blockquote {

	background: url("../assets/svg/image-1.svg") center no-repeat;
	position: relative;
	font-size: 3em;
	float: right;
	width: 50%;
	padding: 0 15px 0 15px;
	margin: 0 0 0 15px;
	line-height: 1.3em;
	text-align: center;
	color: $darkPurple;
	border-left: 5px solid $darkPurple;

	&:before {

		font-size: 1.5em;
		position: absolute;
		left: 1%;
		content: open-quote;

	}

	&:after {

		font-size: 1.5em;
		position: absolute;
		right: 1%;
		content: close-quote;

	}

	@media screen and (max-width: $mobileLarge) {
		display: block;
		width: 100%;
	}

}

iframe {

	margin: 15px 0;

}

.brand {

	display: block;
	margin: 0 auto;
	width:  10%;

	@media (max-width: $mobileLarge) {

		width: 100%;

	}

}

.footer {

	position: static;
	text-align: center;
	color: $white;
	padding: 30px 0 15px 0;
	margin: 0 0 0 0;

	.container {

		p {

			color: $white;

		}

		ul {

			list-style-type: none;
			margin: 0 0 15px 0;
			padding: 0;

			li {

				display: inline-block;
				padding: 0 15px 0 0;

				&:last-child {

					padding: 0;

				}

				a {

					color: $yellow;

					&:hover, &:focus {

						color: $white;

					}

				}

			}

		}

	}

}

.feature {

	position: relative;
	box-shadow: $blackShadow;
	border-radius: 50%;
	margin: 30px 0;
	transition: $fastTransition;
	cursor: pointer;

	+ h3 {

		text-align: center;

	}

	img {

		transition: $fastTransition;
		border-radius: 50%;

	}

	.caption {

		position: absolute;
		top: 10%;
		left: 16%;
		text-align: center;
		width: 70%;
		opacity: 0;
		transition: $fastTransition;
		color: $gray;

		h3 {

			span {

				color: $gray;
				border-bottom: 3px solid $gray;
				padding: 0 0 5px 0;

			}

		}

		p {

			margin: 20px 0;

		}

	}

	&:hover, &:focus {

		background: $yellow;

		img {

			opacity: 0.1;

		}

		.caption {

			opacity: 1;
			transform: translate(0, 140%);

		}

	}

}
